@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.img-card:hover .arrow {
  display: block;
}
.product-card:hover img {
  transform: scale(1.1);
}
.product-card img {
  transition: transform 0.3s ease;
}

/* //SKELETON// */
.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 16px;
}
.skeleton.text {
  height: 20px;
}
.skeleton.title {
  width: 80%;
  height: 24px;
}
.skeleton.price {
  width: 60%;
  height: 20px;
}
.skeleton.category {
  width: 50%;
  height: 20px;
}
.skeleton.rating {
  width: 40%;
  height: 20px;
}
.skeleton.image {
  width: 100%;
  height: 200px;
}
.skeleton.button {
  height: 25px;
  width: 25%;
}
.skeleton.detail-image {
  height: 400px;
  width: 100%;
}
.skeleton.menu {
  height: 50px;
  width: 180px;
}
.skeleton.menuItems {
  width: 100px;
  height: 30px;
}
